.bg-myRed{
    background-color: crimson;
}
.content{
    margin-top:10px;
    padding: 12px;
    height: 3000px;
}
.home{
    margin-left: 20px;
    margin-right: 20px;
}
input {
    margin-top: 20px;
    width: 360px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 3px;
}
table{
    margin-top: 20px;
}
.pageNumbers{
    list-style: none;
    display: flex;
}
.pageNumbers li{
    padding: 10px;
    border: 1px solid rgb(53, 51, 51);
    cursor: pointer;
    height: 35px;
    background-color: rgb(224, 222, 222);
}
.pageNumbers li:hover{
    background-color: rgb(166, 185, 184);
}
.page-link{

}
